vich_uploader:
    db_driver: orm
    
    metadata:
        type: attribute

    mappings:
        sliderImage:
            uri_prefix: '/images/slider-image'
            upload_destination: '%kernel.project_dir%/public/images/slider-image'
#            upload_destination: '%kernel.project_dir%/public/images/slider-image'
            namer: Vich\UploaderBundle\Naming\SmartUniqueNamer
            inject_on_load: false
            delete_on_update: true
            delete_on_remove: true
