sylius_paypal_webhook:
    resource: "@SyliusPayPalPlugin/Resources/config/webhook_routing.yaml"
app_admin_image:
    resource: |
        alias: app.image
        section: admin
        templates: "@SyliusAdmin\\Crud"
        redirect: update
        grid: app_admin_image
        vars:
            all:
                subheader: app.ui.image
            index:
                icon: 'file image outline'
    type: sylius.resource
    prefix: /admin
