sylius_paypal_webhook:
    resource: "@SyliusPayPalPlugin/Resources/config/webhook_routing.yaml"
odiseo_sylius_banner_plugin_admin:
    resource: "@OdiseoSyliusBannerPlugin/Resources/config/routing/admin.yaml"
    prefix: /admin

odiseo_sylius_banner_plugin_shop:
    resource: "@OdiseoSyliusBannerPlugin/Resources/config/routing/shop.yaml"
    prefix: /{_locale}/banners
    requirements:
        _locale: ^[A-Za-z]{2,4}(_([A-Za-z]{4}|[0-9]{3}))?(_([A-Za-z]{2}|[0-9]{3}))?$
app_admin_slider:
    resource: |
        alias: app.slider
        section: admin
        templates: "@SyliusAdmin\\Crud"
        redirect: update
        grid: app_admin_slider
        vars:
            all:
                subheader: app.ui.slider
            index:
                icon: 'file image outline'
    type: sylius.resource
    prefix: /admin
