{#<img class="ui small bordered image" src="{{ data|imagine_filter('sylius_small') }}" />#}
{#<img src="{{ vich_uploader_asset(image, 'imageFile') }}"  />#}
<div class="ui segment configuration">
    __slider.html.twig
</div>


