<div class="swiper">

    <div class="swiper-wrapper">
        {% for image in images %}
            <div class="swiper-slide">
                <img src="{{ "/media/image/" ~ asset(image.path) }}">
            </div>
        {% endfor %}
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">
</script>

